@import url('https://fonts.googleapis.com/css2?family=Courgette:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Courgette";
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}